<!DOCTYPE html>
{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      <form action="{% url 'password_change' %}" method="POST">
      {% csrf_token %}
      <p id="registrationform">Ou wagwoord: <input type="password" name="old_password"></p>
      <p id="registrationform">Nuwe wagwoord: <input type="password" name="new_password1"></p>
      <ul>
        <li>Jou wagwoord mag nie van jou pesoonlike inligting bevat nie.</li>
        <li>Moet 8 karakters of langer wees.</li>
        <li>Mag nie net uit nommers bestaan nie.</li>
        <li>Mag nie 'n algemene wagwoord wees nie. bv. - password</li>
      </ul>
      <p id="registrationform">Herhaal wagwoord: <input type="password" name="new_password2"></p>
      <p><input type="submit" class="btn btn-danger" value="Verander"></p>
      <a href="{% url 'accounts:user_list' %}" class="btn btn-primary glyphicon glyphicon-step-backward" role="button"> Kanselleer</a>
    </form>
    </div>
  </div>
  <script src="{% static "JS/login.js" %}"></script>
  {% endblock %}
