{% extends "base.html" %}
  {% load staticfiles %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron" id="myjumbotron">
      <h2>{% if not form.instance.pk %}
            Voeg 'n kultivar by:
          {% else %}
            Verander 'n kultivar:
          {% endif %}
      </h2>
      <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p}} -->
        <p id="registrationform">Naam: {{form.name}}</p>
        <input type="submit" class="btn btn-warning glyphicon glyphicon-step-backward" value="Laai Kultivar">
        <a href="{% url 'wineinfo:cultivar' %}" class="btn btn-primary glyphicon glyphicon-step-backward" role="button"> Kanselleer</a>
      </form>
    </div>
  </div>
  <script src="{% static "JS/wyninfo.js" %}"></script>
  {% endblock %}
